---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul class="post-list">
    {%- for micropost in site.data.microposts -%}
    <li>
      <h3>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ micropost.created_at | date: date_format }}</span>
        <!-- <a class="post-link" href="{{ post.url | relative_url }}"> -->
        {{ micropost.micropost | escape }}
        <!-- </a> -->
      </h3>
    </li>
    {%- endfor -%}
  </ul>

  <!-- {%- for category in site.categories -%}
  {%- if category[1].size > 0 -%}
    <h2 class="post-list-heading" id="{{ category[0] }}">{{ category[0] | capitalize }}</h2>
    <ul class="post-list">
      {%- for post in category[1] -%}
      <li>
        <h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
    {%- endfor -%} -->

</div>
