---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul class="post-list">
    {%- for micropost in site.data.microposts -%}
    <li>
      <h3>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ micropost.created_at | date: date_format }}</span>
        <br><b>{{ micropost.micropost | escape }}</b>
      </h3>
      <p style="color: white;">{{ micropost.id }}</p>
    </li>
    {%- endfor -%}
  </ul>
</div>
