---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul class="post-list">
    {%- for micropost in site.data.microposts -%}
    <li>
      <h3>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <!-- <span class="post-meta">{{ micropost.created_at | date: date_format }}</span> -->
        <span class="post-link">{{ micropost.micropost | escape }}</span>
      </h3>
    </li>
    {%- endfor -%}
  </ul>
</div>

<style>
.post-link::before {
  content: "{{ micropost.created_at | date: date_format }} |";
  margin-right: 10px;
}
</style>
